[package]
name = "rove"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "runner"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tonic = "0.7.2"
tokio = { version = "1.18.2", features = ["full"] }
prost = "0.10.4"

[build-dependencies]
tonic-build = "0.7.2"
